[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
django = "==2.2.3"  # use latest version
psycopg2 = "==2.8.3"
django-filter = "*"
django-cors-headers = "==3.1.0"
djangorestframework = "==3.10.2"
markdown = "==3.1.1"

[dev-packages] # Here goes your package requirements for developing the application and its versions (which packaes you will use when developing the application)
ipdb = "*"
flake8 = "*"
autopep8 = "*"
